{{define "form"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Input Message</title>
    </head>
    <body>
        <form method="post" action="/data">
            <label>Name :</label>
            <input type="text" placeholder="Name" name="name" required />
            <br />

            <label>Password :</label>
            <input type="password" placeholder="Name" name="password" required />
            <br />

            <button type="submmit">Submit</button>
        </form>
    </body>
</html>
{{end}}

{{define "result"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Show Message</title>
    </head>
    <body>
        <h1>Name: {{.Name}}</h1>
        <p>ID: {{.ID}}</p>
        <p>Address: {{.Address}}</p>
        <p>Title: {{.Title}}</p>
        <p>Reason: {{.Reason}}</p>
    </body>
</html>
{{end}}